<div class="container">
	<h3>商品一覧</h3>
	<div class="row">
		<table class="table">
			<thead>
				<tr class="info">
					<th>商品ID</th>
					<th>商品名</th>
					<th>税抜き価格</th>
					<th>ジャンル</th>
					<th>ステータス</th>
				</tr>
			</thead>

			<tbody>
				<% @products.each do |product| %>
					<tr>
						<td><%= product.id %></td>
						<td><%= link_to product.name, owner_product_path(product) %></td>
						<td><%= product.non_tax_price %></td>
						<td><%= product.genre.name %></td>
						<td><%= product.is_active ? '販売中' : '売り切れ' %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
		<!-- kaminariのページネイション -->
		<%= paginate @products %>
	</div>
</div>
