<div class="container">
	<h3>商品新規登録</h3>
	<%= form_with model: [:owner, @product], local: true do |f| %>
		<div class="row">


			<div class="col-md-5 product_image">
				<%= attachment_image_tag(@product, :image, fallback: "no_image_logo.png",size: "500x500" ) %>
				<%= f.attachment_field :image %>
			</div>

			<div class="col-xs-7">
				<table class="table">
					<tr>
						<th><%= f.label :name, "商品名" %></th>
						<td><%= f.text_field :name %></td>
					</tr>

					<tr>
						<th><%= f.label :introduction, "商品説明" %></th>
						<td><%= f.text_area :introduction %></td>
					</tr>

					<tr>
						<th><%= f.label :genre_id, "ジャンル" %></th>
						<td><%= f.collection_select :genre_id, @genres, :id, :active_genre, :prompt => '--選択してください--' %></td>
					</tr>

					<tr>
						<th><%= f.label :non_tax_price, "税抜価格" %></th>
						<td><%= f.number_field :non_tax_price %></td>
					</tr>

						<tr>
							<th><%= f.label :is_active, "販売ステータス" %></th>
							<td><%= f.select :is_active, {'販売中': 'true', '売切れ': 'false'}, { include_blank: '--選択してください--' } %></td>
						</tr>

						<tr class="text-right">
							<td></td>
							<td><%= f.submit "新規登録", class: 'btn btn-success btn-lg' %></td>
						</tr>
				</table>
			</div>
		</div>

	<% end %>
</div>