<div class = row>
  <h4>商品詳細</h4>
   <div class="col-xs-6">
   	<%= attachment_image_tag @product %>
   </div>
   
   <div class="col-xs-6">
	<table class>
		<tr>
			<td>商品名</td>
			<td><%= @product.name %></td>
		</tr>

		<tr>
			<td>商品説明</td>
			<td><%= @product.introduction %></td>
		</tr>

		<tr>
			<td>ジャンル</td>
			<td><%= @product.genre.name %></td>
		</tr>

		<tr>
			<td>税込価格（税抜き価格）</td>
			<td><%= product.non_tax_price * 1.1 %>(<%= product.non_tax_price %>)円</td>
		</tr>

		<tr>
			<td>販売ステイタス</td>
			<td><%= @product.is_active %></td>
		</tr>
	</table>
			<%link_to '変更を保存', edit_owner_product_path(@product.id) %>
   </div>
</div>