<div class="container">
	<div class="row">
		<h3 class="col-xs-6">商品一覧</h3>
		<div class="new_product_button col-xs-6">
			<%= link_to '', new_owner_product_path, class: "fas fa-plus-circle fa-3x" %>
		</div>
			<table class="table">
				<thead>
					<tr class="info">
						<th>商品ID</th>
						<th>商品名</th>
						<th>税抜価格</th>
						<th>ジャンル</th>
						<th>ステータス</th>
					</tr>
				</thead>

				<tbody>
					<% @datas.each do |data| %>
						<tr>
							<td><%= data.id %></td>
							<td><%= link_to data.name, owner_product_path(data) %></td>
							<td><%= data.price %></td>
							<td><%= data.price %>円</td>
							<td><%= data.genre.name %></td>
							<td><%= data.is_active ? '販売中' : '売切れ' %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
			<!-- kaminariのページネイション -->
			<%= paginate @products %>
	</div>
</div>
