<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3><%= @end_user.last_name %> <%= @end_user.first_name %>の会員情報編集</h3>
      <%= form_with model: [:owner, @end_user], local: true do |f| %>
        <table class="table">
          <tbody>
            <tr>
              <th>氏名</th>
              <th>（姓）</th>
              <td><%= f.text_field :last_name %></td>
              <th>（名）</th>
              <td><%= f.text_field :first_name %></td>
            </tr>
            <tr>
              <th>フリガナ</th>
              <th>（セイ）</th>
              <td><%= f.text_field :kana_last_name %></td>
              <th>（メイ）</th>
              <td><%= f.text_field :kana_first_name %></td>
            </tr>
            <tr>
              <th>郵便番号</th>
              <td><%= f.text_field :post_number %></td>
            </tr>
            <tr>
              <th>住所</th>
              <td><%= f.text_field :address %></td>
            </tr>
            <tr>
              <th>電話番号</th>
              <td><%= f.telephone_field :telephone_number %></td>
            </tr>
            <tr>
              <th>メールアドレス</th>
              <td><%= f.email_field :email %></td>
            </tr>
            <tr>
              <th>ステータス</th>
              <td><%= f.radio_button :is_active, :true %><%= f.label :true, '有効' %></td>
              <td><%= f.radio_button :is_active, :false %><%= f.label :false, '退会済' %></td>
            </tr>
          </tbody>
        </table>
        <div class="text-center">
          <%= f.submit "変更を保存する", class:"btn btn-success btn-lg" %>
        </div>
      <%end%>
    </div>
  </div>
</div>