<h2><%= @end_user.last_name %> <%= @end_user.first_name %>の会員情報編集</h2>
<%= form_with　model: @end_user do |f| %>
  <table>
    <tbody>
      <tr>
        <td>氏名</td>
        <td>（姓）</td>
        <td><%= f.text_filed :last_name %></td>
        <td>（名）</td>
        <td><%= f.text_filed :first_name %></td>
      </tr>
      <tr>
        <td>フリガナ</td>
        <td>（セイ）</td>
        <td><%= f.text_filed :kana_last_name %></td>
        <td>（メイ）</td>
        <td><%= f.text_filed :kana_first_name %></td>
      </tr>
      <tr>
        <td>郵便番号</td>
        <td><%= f.text_filed :post_number %></td>
      </tr>
      <tr>
        <td>住所</td>
        <td><%= f.text_filed :address %></td>
      </tr>
      <tr>
        <td>電話番号</td>
        <td><%= f.telephone_filed :telephone_number %></td>
      </tr>
      <tr>
        <td>メールアドレス<td>
        <td><%= f.email_filed :email %></td>
      </tr>
      <tr>
      	<td>ステータス</td>
      	<td><%= f.radio_button :is_active, :true, checked: "checked" %></td>
		<td><%= f.label :有効 %></td>
		<td><%= f.radio_button :is_active, :false %></td>
		<td><%= f.label :無効 %></td>
      </tr>
    </tbody>
  </table>
  	 <%= f.submit "変更を保存する", class:"btn btn-success" %>

  <%end%>