<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <h2><%= @end_user.last_name %> <%= @end_user.first_name %>の会員情報編集</h2>
    <%= form_with model: [:owner, @end_user], local: true do |f| %>
      <table class="table">
        <tbody>
          <tr>
            <td>氏名</td>
            <td>（姓）</td>
            <td><%= f.text_field :last_name %></td>
            <td>（名）</td>
            <td><%= f.text_field :first_name %></td>
          </tr>
          <tr>
            <td>フリガナ</td>
            <td>（セイ）</td>
            <td><%= f.text_field :kana_last_name %></td>
            <td>（メイ）</td>
            <td><%= f.text_field :kana_first_name %></td>
          </tr>
          <tr>
            <td>郵便番号</td>
            <td><%= f.text_field :post_number %></td>
          </tr>
          <tr>
            <td>住所</td>
            <td><%= f.text_field :address %></td>
          </tr>
          <tr>
            <td>電話番号</td>
            <td><%= f.telephone_field :telephone_number %></td>
          </tr>
          <tr>
            <td>メールアドレス</td>
            <td><%= f.email_field :email %></td>
          </tr>
          <tr>
            <td>ステータス</td>
            <td><%= f.radio_button :is_active, :true %><%= f.label :true, '有効' %></td>
            <td><%= f.radio_button :is_active, :false %><%= f.label :false, '退会済' %></td>
          </tr>
        </tbody>
      </table>
      <div class="text-center">
        <%= f.submit "変更を保存する", class:"btn btn-success" %>
      </div>
    <%end%>
  </div>
</div>