<div class="row">
	<h4>会員一覧</h4>
	<table class>
		<tr>
			<td>会員ID</td>
			<td>氏名</td>
			<td>メールアドレス</td>
			<td>ステータス</td>
		</tr>

		<% @end_users.each do |end_user| %>
	　　　<tr>
		   <td><%= end_user.id %></td>
		     <td>
			   <%= link_to owner_end_user_path(end_user) do %>
			    <%= end_user.last_name %> <%= end_user.first_name %>
			   <%end%>
		     </td>
		   <td><%= end_user.email %></td>
		   <td><%= end_user.is_active ? '有効': '退会済' %></td>
	     </tr>
	     <%end%>
	</table>
</div>