<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h3><%= @end_user.last_name %><%= @end_user.first_name %>さんの会員詳細</h3>
			<table class="table">
				<tbody>
					<tr>
						<th>顧客ID</th>
						<td><%= @end_user.id %>　<span><<%= @end_user.is_active ? "有効" : "無効" %><%= "会員" %></span>></td>
					</tr>
					<tr>
						<th>氏名</th>
						<td><%= @end_user.last_name %>　<%= @end_user.first_name %></td>
					</tr>
					<tr>
						<th>フリガナ</th>
						<td><%= @end_user.kana_last_name %>　<%= @end_user.kana_first_name %></td>
					</tr>
					<tr>
						<th>郵便番号</th>
						<td><%= @end_user.post_number %></td>
					</tr>
					<tr>
						<th>住所</th>
						<td><%= @end_user.address %></td>
					</tr>
					<tr>
						<th>電話番号</th>
						<td><%= @end_user.telephone_number %></td>
					</tr>
					<tr>
						<th>メールアドレス</th>
						<td><%= @end_user.email %></td>
					</tr>
				</tbody>
			</table>

			<div class="text-right">
				<%= link_to "編集する", edit_owner_end_user_path(@end_user), class: "btn btn-primary btn-lg" %>
				 / <%= link_to "注文履歴一覧を見る", owner_orders_path, class: "btn btn-primary btn-lg" %>
			</div>

		</div>
	</div>
</div>