<h2><%= @end_user.last_name %><%= @end_user.first_name %>さんの会員詳細</h2>

<table>
	<tbody>
		<tr>
			<td>顧客ID</td>
			<td><%= @end_user.id %>　<span><%= @end_user.is_active ? "有効" : "無効" %><%= "会員" %></span></td>
		</tr>
		<tr>
			<td>氏名</td>
			<td><%= @end_user.last_name %>　<%= @end_user.first_name %></td>
		</tr>
		<tr>
			<td>フリガナ</td>
			<td><%= @end_user.kana_last_name %>　<%= @end_user.kana_first_name %></td>
		</tr>
		<tr>
			<td>郵便番号</td>
			<td><%= @end_user.post_number %></td>
		</tr>
		<tr>
			<td>住所</td>
			<td><%= @end_user.address %></td>
		</tr>
		<tr>
			<td>電話番号</td>
			<td><%= @end_user.telephone_number %></td>
		</tr>
		<tr>
			<td>メールアドレス</td>
			<td><%= @end_user.email %></td>
		</tr>
	</tbody>
</table>

<%= link_to "編集する", edit_owner_end_user_path(@end_user), class: "btn btn-primary" %>
<%= link_to "注文履歴一覧を見る", owner_orders_path, class: "btn btn-primary" %>