<h1>配送先登録/一覧</h1>

<%= form_with url: addresses_path do |form| %>
  <h4>郵便番号</h4>
  <%= f.text_field :post_number %>
  <h4>住所</h4>
  <%= f.text_field  :address %>
  <h4>宛名</h4>
  <%= f.text_field :name %>
  <%= f.submit '登録する' %>
<% end %>

<tbody>
    <% @addresses.each do |address| %>
    <td><%= address.post_number %></td>
    <td><%= address.adress %></td>
    <td><%= address.name %></td>
    <td><%= link_to 'Edit', edit_address_path %> </td>
    <td><%= link_to 'Destroy', addresses_path, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn-sm btn-danger destroy_adress_#{@address.id}"%></td>
</tbody>
  <% end %>