<h2>登録情報編集</h2>

<%= form_with url: end_users_path do |f| %>
  <table>
    <tbody>
      <tr>
        <th>氏名</th>
        <th>（姓）</th>
        <th><%= f.text_field :last_name %></th>
        <th>（名）</th>
        <th><%= f.text_field :first_name %></th>
      </tr>
      <tr>
        <th>フリガナ</th>
        <th>（セイ）</th>
        <th><%= f.text_field :kana_last_name %></th>
        <th>（メイ）</th>
        <th><%= f.text_field :kana_first_name %></th>
      </tr>
      <tr>
        <th>郵便番号</th>
        <th><%= f.text_field :post_number %></th>
      </tr>
      <tr>
        <th>住所</th>
        <th><%= f.text_field :address %></th>
      </tr>
      <tr>
        <th>電話番号</th>
        <th><%= f.telephone_field :telephone_number %></th>
      </tr>
      <tr>
        <th>メールアドレス<th>
        <th><%= f.email_field :email %></th>
      </tr>
    </tbody>
  </table>

  <%= f.submit "編集内容を保存する", class: "btn btn-primary" %> / <%= link_to "退会する", '#' %>

<% end %>
