<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render "homes/search-genre" %>
    </div>

    <div class="col-md-9">
      <% if params[:genre].blank? %>
        <h2 class="products-title">商品一覧(全<%= @products.count %>件)</h2>
        <div class="products-goods">
          <div class="row">
            <%= render partial: "products/goods", collection: @products, as: :product %>
          </div>
            <%= render partial: "products/images" %>
        </div>
      <% else %>
        <h2 class="products-title">商品一覧(全<%= @genre_products.count %>件)</h2>
        <div class="products-goods">
          <div class="row">
            <%= render partial: "products/goods", collection: @genre_products, as: :product %>
          </div>
            <%= render partial: "products/images" %>
        </div>
      <% end %>
    </div>

  </div>
</div>
