<header class="navbar navbar-fixed-top">
  <div class="container">
    <nav class='nav navbar-nav navbar-left' >
      <%= link_to root_path, style: "display: inline-block;" do %>
        <span>ロゴ</span>
      <% end %>
    </nav>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if end_user_signed_in? %>
          <li>
            <%= link_to end_users_path, class: "nav-link" do %>
              <i class="fas fa-house-user"></i> マイページ
            <% end %>
          </li>
          <li>
            <%= link_to products_path, class: "nav-link" do %>
              <i class="fas fa-utensils"></i> 商品一覧
            <% end %>
          </li>
          <li>
            <%= link_to cart_products_path, class: "nav-link" do %>
              <i class="fas fa-shopping-cart"></i> カート
            <% end %>
          </li>
          <li>
            <%= link_to destroy_end_user_session_path, method: :delete, class: "nav-link" do %>
              <i class="fas fa-sign-out-alt"></i> ログアウト
            <% end %>
          </li>
        <% else %>
          <li>
            <%= link_to about_path, class: "nav-link" do %>
              <i class="fas fa-link"></i> About
            <% end %>
          </li>
          <li>
            <%= link_to products_path, class: "nav-link" do %>
              <i class="fas fa-utensils"></i> 商品一覧
            <% end %>
          </li>
          <li>
            <%= link_to new_end_user_registration_path, class: "nav-link" do %>
              <i class="fas fa-user-plus"></i> 新規登録
            <% end %>
          </li>
          <li>
            <%= link_to new_end_user_session_path, class: "nav-link" do %>
              <i class="fas fa-sign-in-alt"></i> ログイン
            <% end %>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>