<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav class='nav navbar-nav navbar-left' >
          <span>ロゴ</span>
           <ul class="nav navbar-nav navbar-right">
        <% if end_user_signed_in? %>
          <li><%= link_to ' マイページ',user_path(current_user),class: 'glyphicon glyphicon-home home' %></li>
          <li><%= link_to ' 商品一覧',users_path,class: 'glyphicon glyphicon-user users' %></li>
          <li><%= link_to ' カート',books_path ,class: 'glyphicon glyphicon-book books'%></li>
          <li><%= link_to ' ログアウト', destroy_user_session_path, method: :delete,class: 'glyphicon glyphicon-log-out logout' %></li>

          <% else %>
            <li><%=link_to "About" ,"/about",class: "glyphicon glyphicon-link about" %></li>
            <li><%=link_to "商品一覧" ,"#",class: "glyphicon glyphicon-home home" %></li>
            <li><%=link_to "新規登録", "#",class: "glyphicon glyphicon-edit sign_up" %></li>
            <li><%=link_to "ログイン", "#",class: "glyphicon glyphicon-log-in log_in" %></li>
          </ul>
           <% end %>
    </nav>
  </div>
</header>