<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <%# ヘッダー記述 %>
      <%= render 'layouts/header' %>
  <%# ヘッダー記述 %>
    <% if flash[:notice] %>
      <div class="flash alert alert-success">
        <%= flash[:notice] %>
      </div>
    <% elsif flash[:alert] %>
      <div class="flash alert alert-danger">
        <%= flash[:alert] %>
      </div>
    <% end %>

    <% if admin_signed_in? %>
      <div class="search-form" style="text-align: right;">
        <div class="container">
          <%= form_tag(search_path, method: :get) do %>
            <%= select_tag 'search[model]', options_for_select({"EndUser" => "end_user", "Product" => "product"}), style: "height: 30px;" %>
            <%= select_tag 'search[how]', options_for_select({"完全一致" => "match", "前方一致" => "forward", "後方一致" => "backward", "部分一致" => "partical"}), style: "height: 30px;" %>
            <%= text_field_tag 'search[content]' %>
            <%= submit_tag '検索', class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    <% end %>

    <div class="content">
      <%= yield %>
    </div>
  </body>
</html>
