<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
  <%# ヘッダー記述 %>
      <%= render 'layouts/header' %>
  <%# ヘッダー記述 %>

    <div class="body">
      <%= yield %>
    </div>
  </body>
</html>
